<h1>Admin Use Only</h1>
<main>
    <!--This section contains the table that will generate based off of the user selecting a league from the above
dropdown or from selecting all teams-->
        <section>
            <div class="container" id="userListDiv">
                <table class="table table-striped" id="userTable">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>  
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
</main>