<!DOCTYPE html>
<html>

<head>
  {{>head}}
</head>

<body>
  {{>nav}}

  <h1>{{title}}</h1>

  <div class="container">
    <form class="form-login" id="form-login">
      <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>

      <label for="inputUserName" class="sr-only">Username</label>
      <input type="text" id="inputUserName" class="form-control mb-3 col-4" placeholder="Username" required autofocus />

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control mb-3 col-4" placeholder="Password" required />

      <button class="btn btn-lg btn-primary btn-block col-4" type="submit" id="loginBtn">Log in</button>

      <br />
      <div class="alert alert-success hidden col-4" role="alert" id="msg"></div>

    </form>
  </div>

  {{>scripts}}

  <script src="/scripts/login.js"></script>
</body>

</html>