<div class="container">
  <div class="form-group">
    <label for="userName">User Name</label>
    <input type="text" class="form-control col-4" id="userName" placeholder="User Name" required autofocus
      [(ngModel)]="userName" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control col-4" id="email" placeholder="Email" required [(ngModel)]="email" />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control col-4" id="password" placeholder="Password" [(ngModel)]="password" />
  </div>
  <div>
    <!-- Property Binding: [ ] -->
    <button type="button" class="btn btn-primary" (click)="onAddUser()">Add User</button>
    <!-- Event Binding: ( ) -->
    <button type="button" class="btn btn-primary ml-3" (click)="onReset()">Clear</button>
  </div>
</div>

<!-- Built-in structural (changes structure of DOM) *ngIf Directive: conditional expression returns true/false -->
<div class="container" id="usersDiv">
  <hr />
  <!-- Built-in ngStyle attribute directive: uses Property Binding [ ] to bind to a property of the directive -->
  

  <!-- Built-in *ngFor directive -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        
      </tr>
    </tbody>
  </table>

  <!-- Create ng-template with local reference (#) to conditinally display -->
  <ng-template #noUsers>No Users Added.</ng-template>
</div>


<div class="container">
  <hr />
  <h3>Users!</h3>
  <ul>
    <li *ngFor="let user of users">{{user.userName}} {{user.email}}</li>
  </ul>
</div>