<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <a class="navbar-brand" id="navbarTitle" href="/">Harvey Lake Dragon Boats</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="homeNav" (click)="goHome()">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="login" (click)="goLogin()">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="register" (click)="goRegister()">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="leagues" (click)="goLeagues()">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="admin" (click)="goAdmin()">Admin</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="profile" (click)="goEdit()">Profile</a>
            </li>
        </ul>
        <img class="float-right" id="navpic" src="assets/images/boat1.jpg" alt="dragon boat">
    </div>
</nav>